$bg-color-achromatic: #fafafa;
$bg-color-chromatic: #FDF4E4;

$bg-color: $bg-color-chromatic;
$color-1: #09155F;
$color-2: #604367;
$color-3: #F5BB41;
$color-4: #EE8F35;
$color-5: #006600;

$text-color: $color-1;
$font: 'Quicksand', sans-serif;

// ------------ Materialize variables overwriting ------------

// 1. Colors
$primary-color: $color-2;
$secondary-color: $color-4;
$link-color: $text-color;

// 4. Cards
$card-bg-color: $bg-color-achromatic;

// -----------------------------------------------------------

// ------------------- Materialize.css -----------------------

@import 'materialize-css/sass/materialize';

// -----------------------------------------------------------

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text-color;

    background-color: $bg-color;
}

.home {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}


// .footer
footer {
    grid-column: col-start 1 / -1;
    grid-row: 3;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    color: $bg-color-achromatic;
}

.footer-shadow {
    color: rgba(255,255,255,.5);
    background-color: rgba(51,51,51,.2);
    height: 50px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.copyright-sign {
    align-self: center;
}

.main-container {
    grid-column: col-start 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.main-card {
    grid-row: 1;
}

.copyright-box {
    grid-row: 1;
    display: grid;
}

@media screen and (min-width: 993px) {
    
    .main-container {
        grid-gap: 20px;
        padding: 0 10px 0 10px;
    }

    .main-card {
        grid-column: col-start 1 / span 4;
    }

    .projects {
        grid-column: col-start 5 / -1;
        grid-row: 1;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }

    .column-1 {
        grid-column: col-start 3 / span 4;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 8 / span 5;
        grid-row: 1;
    }

    .copyright-box {
        grid-column: col-start 3 / -1;
    }
}

@media screen and (max-width: 992px) {

    .main-container {
        grid-gap: 20px;
    }

    .main-card {
        grid-column: col-start 1 / -1;
    }

    .projects {
        grid-column: col-start 1 / -1;
        grid-row: 2;
        padding: 0 10px 0 10px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }

    .column-1 {
        grid-column: col-start 2 / span 5;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 8 / span 5;
        grid-row: 1;
    }

    .copyright-box {
        grid-column: col-start 2 / -1;
    }
}

@media screen and (max-width: 600px) {

    // .main-container {
    // }

    .main-card {
        grid-column: col-start 1 / -1;
    }

    .projects {
        grid-column: col-start 1 / -1;
        grid-row: 2;
    }

    .column-1 {
        grid-column: col-start 2 / -1;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 2 / -1;
        grid-row: 2;
    }

    .copyright-box {
        grid-column: col-start 2 / -1;
    }
}

.div-img {
    min-height: 200px;
}

.color-1 {
    background-color: $color-5;
}

.color-2 {
    background-color: $color-2;
}

.color-3 {
    background-color: $color-3;
}

.color-4 {
    background-color: $color-4;
}

// .item-1 {
//     grid-column: ;
//     grid-row: ;
// }

// .item-1 {
//     grid-column: ;
//     grid-row: ;
// }

// .item-2 {
//     grid-column: ;
//     grid-row: ;
// }

// .item-3 {
//     grid-column: ;
//     grid-row: ;
// }

// .item-4 {
//     grid-column: ;
//     grid-row: ;
// }

// -------- fonts - ? ---------------------

// font-family: 'Comfortaa', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Varela Round', sans-serif;
// ----------------------------------------
