$bg-color-achromatic: #fafafa;
$bg-color-chromatic: #FDF4E4;

$bg-color: $bg-color-chromatic;
$color-1: #09155F;
$color-2: #604367;
$color-3: #F5BB41;
$color-4: #EE8F35;
$color-5: #006600;

$text-color: $color-1;
$font: 'Quicksand', sans-serif;

// ------------ Materialize variables overwriting ------------

// 1. Colors
$primary-color: $color-2;
$secondary-color: $color-4;
$link-color: $bg-color-achromatic;

// 4. Cards
$card-bg-color: $bg-color-achromatic;

// -----------------------------------------------------------

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text-color;
    background-color: $bg-color;
}

.home {
    position: absolute;
    width: 100%;
    min-width: 275px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

// ---------------- page header-------------------------------

.page-header {
    background-color: $color-2;
    color: $bg-color-achromatic;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-logo {
    font-size: 2.1rem;
    grid-column: 1 / 2;
    align-self: center;
    position: relative;
    left: 1rem;
}

.header-contacts {
    grid-column: 2 / 3;
    display: grid;
}

.header-github {
    align-self: center;
    justify-self: right;
}

.header-email {
    align-self: center;
    justify-self: right;
    position: relative;
    right: 1rem;
}

@media screen and (min-width: 751px) {
    
    .page-header {
        height: 70px;
    }

    .header-contacts {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-github {
        grid-column: 1 / 2;
    }
    
    .header-email {
        grid-column: 2 / 3;
    }   
}

@media screen and (max-width: 750px) and (min-width: 500px) {

    .page-header {
        height: 100px;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .header-logo {
        grid-row: 1 / 2;
        align-self: end;
    }

    .header-contacts {
        grid-row: 1 / 3;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .header-github {
        grid-row: 1 / 2;
        position: relative;
        right: 1rem;
    }
    
    .header-email {
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 500px) {

    .page-header {
        height: 140px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .header-logo {
        left: 0;
        grid-row: 1 / 2;
        align-self: end;
        justify-self: center;
    }
    
    .header-contacts {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .header-github {
        grid-row: 1 / 2;
        align-self: end;
        justify-self: center;
    }
    
    .header-email {
        grid-row: 2 / 3;
        justify-self: center;
        right: 0;
    }
}

// --------------------- projects -------------------------

.projects {
    flex-grow: 1;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects .project-tab {
    margin: 0;
}

// --------------------- page footer ----------------------

.footer-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    color: $bg-color-achromatic;
}

.footer-shadow {
    color: rgba(255,255,255,.5);
    background-color: rgba(51,51,51,.2);
    height: 50px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.copyright-box {
    grid-row: 1;
    display: grid;
}

.copyright-sign {
    align-self: center;
}

@media screen and (min-width: 993px) {
        
    .column-1 {
        grid-column: col-start 3 / span 4;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 8 / span 5;
        grid-row: 1;
    }

    .copyright-box {
        grid-column: col-start 3 / -1;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    
    .column-1 {
        grid-column: col-start 2 / span 5;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 8 / span 5;
        grid-row: 1;
    }

    .copyright-box {
        grid-column: col-start 2 / -1;
    }
}

@media screen and (max-width: 600px) {
    
    .column-1 {
        grid-column: col-start 2 / -1;
        grid-row: 1;
    }

    .column-2 {
        grid-column: col-start 2 / -1;
        grid-row: 2;
    }

    .copyright-box {
        grid-column: col-start 2 / -1;
    }
}

.card-name {
    min-height: 70px;
}

// .color-1 {
//     background-color: $color-1;
// }

// .color-2 {
//     background-color: $color-2;
// }

// .color-3 {
//     background-color: $color-3;
// }

// .color-4 {
//     background-color: $color-4;
// }

// .color-5 {
//     background-color: $color-5;
// }

// ------------------- Materialize.css -----------------------

@import 'materialize-css/sass/materialize';

// -----------------------------------------------------------

// -------- fonts - ? ---------------------

// font-family: 'Comfortaa', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Varela Round', sans-serif;
// ----------------------------------------
